<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find agv6)/urdf/agv6.urdf -urdf -model agv6" output="screen" />
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />

  <!-- Load the URDF model into the robot_description parameter -->
  <param name="robot_description" textfile="$(find agv6)/urdf/agv6.urdf" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find agv6)/config/controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
      /agv6/joint_state_controller
      /agv6/Wheel_left_front_jt_controller
      /agv6/Wheel_right_front_jt_controller
      /agv6/Wheel_right_rear_jt_controller
      /agv6/Wheel_left_rear_jt_controller
    "/>



  <gazebo>
      <plugin name="zm_robot_diff_drive" filename="libgazebo_ros_mecanum_drive.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <LeftRear>Wheel_left_rear_jt</LeftRear>
        <LeftFront>Wheel_left_front_jt</LeftFront>
        <RightFront>Wheel_right_front_jt</RightFront>
        <RightRear>Wheel_right_rear_jt</RightRear>
        <odometryRate>20</odometryRate>      
        <publishWheelTF>false</publishWheelTF>
        <publishWheelJointState>true</publishWheelJointState>
        <WheelTorque>30</WheelTorque>
        <WheelSeparationW>0.15</WheelSeparationW>
        <WheelSeparationL>0.2</WheelSeparationL>
        <wheelAccel>5</wheelAccel>
        <wheelDiameter>0.13</wheelDiameter>
        <publishOdom>true</publishOdom>
        <isRollerModel>true</isRollerModel>
      </plugin>
  </gazebo>
</launch> 
